#back{
    background-image: url('https://cdn.vectorstock.com/i/500p/73/98/dark-blue-gradient-abstract-background-vector-27317398.jpg');
    background-size: 100%;
    height: 800px;
}

#inputfield{
    width: 100%;
}