<div style="position: static;">
  <nav class="navbar navbar-expand-sm navbar-light" style="background : #113f5f;">
    <!--  -->
    <div class="container-fluid">
      <!-- Centered brand -->
      <img src="assets/ors-logo.png" alt="logo" style="height: 55px; width:190px; margin-right: 10px;">


      <!-- Toggler button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Centering the list -->
          <!-- Home -->
          <!-- *ngIf="currentRoute !== '/home'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/home/{{roleIdString}}" routerLinkActive="active">Home</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" routerLink="/home/{{roleIdString}}" *ngIf="roleIdString.startsWith('EMP')" (click)="post()">Post Jobs</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" routerLink="/home/{{roleIdString}}" *ngIf="roleIdString.startsWith('EMP')" (click)="postappoint()">Appointments</a>
          </li>




          <!-- Search Jobs -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item" >
            <a class="nav-link" (click)=jobsforyou()  routerLinkActive="active">Explore Jobs</a>
          </li>


          <li class="nav-item" >
            <a class="nav-link"  *ngIf="roleIdString?.startsWith('EMP')" routerLink="/gradmessage/{{roleIdString}}" routerLinkActive="active">Contact Us/Notification</a>
          </li>

          <!-- Blog  -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/blogs/{{roleIdString}}" routerLinkActive="active">Blogs</a>
          </li>


          <!-- About Us -->
          <!-- *ngIf="currentRoute !== '/login'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/about-us/{{roleIdString}}" routerLinkActive="active">About Us</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" *ngIf="roleIdString?.startsWith('EMP')" (click)="editEmployer(roleIdString)" routerLinkActive="active">Edit Profile</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" *ngIf="!roleIdString.startsWith('EMP')"  routerLink="/login"  routerLinkActive="active">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" *ngIf="!roleIdString.startsWith('EMP')"  routerLink="/register"  routerLinkActive="active">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" *ngIf="!roleIdString.startsWith('EMP')" routerLink="/admin-login" routerLinkActive="active">Admin</a>
          </li>
        </ul>

        <!-- Green dot for logged-in status -->
        <!-- <span *ngIf="isLoggedIn" class="green-dot"></span> -->
      </div>
      <a class="nav-link" *ngIf="roleIdString.startsWith('EMP')" (click)="logout()" >Logout</a>
    </div>
  </nav>
</div>

<div class="container">
  <div class="background"></div>
  <div class="content">
    <h1 class="animated-text">Elevate Your Career Journey</h1>
    <h4 class="animated-text">Our platform connects talented individuals with exciting job openings, empowering you to take the next step towards professional success.</h4>
    <h3 class="animated-text">Join us now!</h3>



  </div>
</div>

<div class="modal w-100" *ngIf="selectedEmployerforedit!=null">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Employer Details</h5>
      </div>
      <div class="modal-body" >
        <form class="row" [formGroup]="EmployerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="roleId" class="col-form-label">Grad ID</label>
              <div>
              <input type="text" class="form-control" id="inputfield" value="{{selectedEmployerforedit}}" disabled>
            </div>
            </div>
            <div class="form-group col-md-6">
              <label for="name" class="col-form-label">Name</label>
              <input id="name" type="text" class="form-control" formControlName="name" id="inputfield" placeholder="Name">
              <div *ngIf="isInvalid('name')" class="text-danger">
                {{ getErrorMessage('name') }}
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="form-group col-md-6">
              <label for="nationality" class="form-label" id="inputfield">Nationality:</label>
                <select id="nationality" formControlName="nationality" class="form-select" aria-placeholder="Select Nationality" required>
                  <option value=""  disabled selected>Select Nationality</option>
                  <option *ngFor="let nationality of nationalities" [value]="nationality">{{nationality}}</option>
                </select>
                <div *ngIf="isInvalid('nationality')" class="text-danger">
                  {{ getErrorMessage('nationality') }}
                  </div>
            </div>
            <div class="form-group col-md-6">
              <label for="phone" class="col-form-label">Phone</label>
              <input id="phone" type="text" class="form-control" formControlName="phone" id="inputfield" placeholder="Phone">
              <div *ngIf="isInvalid('phone')" class="text-danger">
                {{ getErrorMessage('phone') }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="address" class="col-form-label">Address</label>
              <input id="address" type="textarea" class="form-control " formControlName="address" placeholder="Address">
              <div *ngIf="isInvalid('address')" class="text-danger">
                {{ getErrorMessage('address') }}
              </div>
            </div>
            <div class="form-group col-md-6">
              
              <label for="roleInCompany" class="col-sm- col-form-label ">Role:</label>
                  <input type="text" class="form-control" id="roleInCompany" formControlName="roleInCompany" placeholder="Your Role In Company">
                  <div *ngIf="isInvalid('roleInCompany')" class="text-danger">
                      {{ getErrorMessage('roleInCompany') }}
                  </div>
            </div>
            
          </div>
          <div class="row">
            
            <div class="form-group col-md-6">
              <label for="companyName" class="col-sm- col-form-label ">Company Name:</label>
                 
                   <input type="text" class="form-control " id="companyName" formControlName="companyName" placeholder="Enter Company Name">
                  <div *ngIf="isInvalid('companyName')" class="text-danger">
                 {{ getErrorMessage('companyName') }}
            </div>
            </div>
            <div class="form-group col-md-6">
              <label for="companyType" class="col-sm- col-form-label " >Company Type:</label>
                               
                <input type="text" class="form-control " id="companyType" formControlName="companyType" placeholder="Enter Company Type">
                 <div *ngIf="isInvalid('companyType')" class="text-danger">
                  {{ getErrorMessage('companyType') }}
                    </div>
                            
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="companySize" class="col-sm col-form-label ">Company Size:</label>
                
                  <input type="number" class="form-control " id="companySize" formControlName="companySize" placeholder="Enter Company Size">
                  <div *ngIf="isInvalid('companySize')" class="text-danger">
                    {{ getErrorMessage('companySize') }}
                </div>
                      
            </div>
            <div class="form-group col-md-6">
              <label for="companyAddress" class="col-sm- col-form-label " >Company Address:</label>
                               
              <input type="text" class="form-control" id="companyAddress" formControlName="companyAddress" placeholder="Enter Company Address">
               <div *ngIf="isInvalid('companyAddress')" class="text-danger">
                 {{ getErrorMessage('companyAddress') }}
                </div>

            </div>
          </div>
          <div class="row">
            
            <div class="form-group col-md-12">
              <label for="companyDescription" class="col-sm- col-form-label ">Company Description:</label>
               <textarea rows="3" cols="33" class="form-control" id="companyDescription" formControlName="companyDescription" placeholder="Enter Company Description"></textarea>
                <div *ngIf="isInvalid('companyDescription')" class="text-danger">
               {{ getErrorMessage('companyDescription') }}
               </div>
            </div>
            
          </div>
          <div class="row">
          <button type="submit" class="btn btn-primary mt-2 mb-2 col-6">Update</button>
          <button class="btn btn-danger mt-2 mb-2 col-6"(click)="closeModalforEdit()">Close</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>