.button-group .btn {
    margin-right: 20px;
}

.container {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
  }


  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url('https://eskyoc.com/recruit.png');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
  }


  .content {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
  }




  .animated-text {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar {
    background: linear-gradient(to right, #6a1b9a, #00b4d9);
    color: white;
}

.navbar-brand, .nav-link {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: #ddd;
}

.nav-link.active {
    color: #ffffff; /* Bright white color */
    font-weight: bold; /* Bold text */
}


.nav-item.active a, .nav-item a:hover   {
  background-color: white;
  color: #113f5f;
  /* border-radius: 5px;
  margin : 5px; */
}
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: auto;
}

/* Modal Dialog */
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 1000px;
  margin: 0;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 1000px;
  animation: fadeIn 0.3s;
  position: relative;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Modal Title */
.modal-title {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Close Button */
.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
}

/* Modal Body */
.modal-body {
  font-size: 1rem;
  line-height: 1.5;
}

/* Modal Footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
  overflow-y: auto;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}