<section class="vh-100" style="background-color: #6a1b9a">
  <div class="row d-flex h-100">
    <div class="card d-flex flex-column  align-items-center" style="border-radius: 1rem; background-color: rgba(255, 255, 255, 0.5); backdrop-filter: blur(10px);">
      <h1 class="h1 fw-bold mb-0">Welcome To Online Recruitment System</h1>
      <p class="lead">Your journey to a better job starts here.</p>
      <div class="button-group mt-4">
        <a class="btn btn-lg btn-dark mr-2" routerLink="/login" role="button">Login</a>
        <a class="btn btn-lg btn-dark" routerLink="/register" role="button">Register</a>
      </div>
      <hr class="my-4">
      <p class="lead">Created by Shiva Charan Reddy Kallem</p>
    </div><app-job-search></app-job-search>
  </div>
</section>