<div style="position: static;">
  <nav class="navbar navbar-expand-sm navbar-light" style="background : #113f5f;">
    <div class="container-fluid">
      <!-- Centered brand -->
      <!-- <a class="navbar-brand mx-auto" routerLink="/home">Online Recruitment System</a> -->
      <img src="assets/ors-logo.png" alt="logo" style="height: 55px; width:190px; margin-right: 10px;">

      <!-- Toggler button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Centering the list -->
          <!-- Home -->
          <!-- *ngIf="currentRoute !== '/home'" -->
          <li class="nav-item">
            <a class="nav-link" *ngIf="studentId?.startsWith('GRAD')" routerLink="/gradhome/{{studentId}}"
              routerLinkActive="active">Home</a>

          </li>


          <!-- Blog  -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/blogs/{{studentId}}" routerLinkActive="active">Blogs</a>
          </li>


          <!-- About Us -->
          <!-- *ngIf="currentRoute !== '/login'" -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us/{{studentId}}" routerLinkActive="active">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" *ngIf="!studentId?.startsWith('GRAD')" routerLinkActive="active">Login</a>
          </li>

          <li>
            <a class="nav-link" *ngIf="!(studentId?.startsWith('GRAD'))" routerLink="/register"
              routerLinkActive="active">Register</a>
          </li>
        </ul>

        <!-- Green dot for logged-in status -->
        <!-- <span *ngIf="isLoggedIn" class="green-dot"></span> -->
      </div>
      <a class="nav-link" *ngIf="(studentId?.startsWith('GRAD'))" (click)="logout()">Logout</a>
    </div>
  </nav>
</div>


<section class="job-div">
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div id="formcard" class="card bg-image">
          <h1 class="text-center mt-3">Form Details</h1>
          <div class="card-body">
            <h2><span class="fw-bold">Company Name:</span> {{companyDescriptionData?.companyName}}</h2>
            <h5 class="text-class">
              <div><span class="fw-bold">Company Description:</span> {{companyDescriptionData?.companyDescription}}</div>
              <div><span class="fw-bold">Company Address:</span> {{companyDescriptionData?.companyAddress}}</div>
              <div><span class="fw-bold">Company Type:</span> {{companyDescriptionData?.companyType}}</div>
              <div><span class="fw-bold">Company Size:</span> {{companyDescriptionData?.companySize}}</div>
              <div><span class="fw-bold">Job ID:</span> {{jobDescriptionData?.jobId}}</div>
              <div><span class="fw-bold">Job Name:</span> {{jobDescriptionData?.jobType}}</div>
              <div><span class="fw-bold">Job Description:</span> {{jobDescriptionData?.jobDescription}}</div>
              <div><span class="fw-bold">Job Vacancy:</span> {{jobDescriptionData?.jobVacancy}}</div>
              <div><span class="fw-bold">Job Salary:</span> {{jobDescriptionData?.jobSalary}}</div>
            </h5>
            <div class="text-center mt-3">
              <button class="btn btn-primary" (click)="Apply()">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
