<p>jobdescription works!</p>

<div>
    <h3>{{jobDescriptionData?.jobType}}</h3>
    <h3>{{jobDescriptionData?.jobName}}</h3>
    <h3>{{jobDescriptionData?.jobSalary}}</h3>
    <h3>{{jobDescriptionData?.jobVacancy}}</h3>
    <h3>{{jobDescriptionData?.jobId}}</h3>
</div>

<div>
    <h3>{{companyDescriptionData?.companyName}}</h3>
    <h3>{{companyDescriptionData?.companyDescription}}</h3>
    <h3>{{companyDescriptionData?.companyAddress}}</h3>
    <h3>{{companyDescriptionData?.companyType}}</h3>
    <h3>{{companyDescriptionData?.companySize}}</h3>
</div>