/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

/* .card {
  width: 18rem; 
} */

.card-body {
  text-align: center;
}

.card {
  margin: auto; 
  margin-top: 50px; 
  max-width: 800px;
  background-color: #113f5f;
  color: white;
}

.card-body {
  padding: 20px; /* Add padding to the card body */
}

.table {
  margin-top: 20px; /* Add some top margin to the table */
}
