<div style="position: static;">
  <nav class="navbar navbar-expand-sm navbar-light" style="background : #113f5f;">
    <!--  -->
    <div class="container-fluid">
      <!-- Centered brand -->
      <img src="assets/ors-logo.png" alt="logo" style="height: 55px; width:190px; margin-right: 10px;">

      <!-- <a class="navbar-brand mx-auto" routerLink="/home">RecruitHub</a> -->
      <a class="navbar-brand d-flex align-items-center mx-auto" routerLink="/home">
        <!-- <img src="assets/images/ors-logo.png" alt="RecruitHub Logo" style="height: 30px; margin-right: 10px;">
        <img src="./images/ors-logo.png" alt="RecruitHub Logo" style="height: 30px; margin-right: 10px;"> -->
      </a>

      <!-- Toggler button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Centering the list -->
          <!-- Home -->
          <!-- *ngIf="currentRoute !== '/home'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/home/{{roleIdString}}" routerLinkActive="active">Home</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" routerLink="/home/{{roleIdString}}" routerLinkActive="active"  (click)="post()">Post Jobs</a>

          </li>


          <li class="nav-item" >
            <a class="nav-link" routerLink="/home/{{roleIdString}}" routerLinkActive="active"  (click)="postappoint()" >Appointments</a>

          </li>
       



          <!-- Services -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
          </li>


          <!-- Blog  -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
          </li>


          <!-- About Us -->
          <!-- *ngIf="currentRoute !== '/login'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active">About Us</a>
          </li>



          <li class="nav-item" >
            <a class="nav-link" *ngIf="!roleIdString.startsWith('EMP')"  routerLink="/login"  routerLinkActive="active">Login</a>
          </li>

          <li>
            <a class="nav-link" *ngIf="!roleIdString.startsWith('EMP')"  routerLink="/register"  routerLinkActive="active">Register</a>
          </li>

          <li>
            <a class="nav-link" *ngIf="!roleIdString.startsWith('EMP')" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
        </ul>

        <!-- Green dot for logged-in status -->
        <!-- <span *ngIf="isLoggedIn" class="green-dot"></span> -->
      </div>
      <a class="nav-link" *ngIf="roleIdString.startsWith('EMP')" routerLink="/home" >Logout</a>
    </div>
  </nav>
</div>







<!--
<section class="top-div">
  <div class="container py-5" >
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 style="font-weight: bolder;">Post your Job here !! </h3>
            <form [formGroup]="jobRegisterForm" (ngSubmit)="onSubmit()" novalidate >

            <div class="form-outline mb-3">
              <label for="jobName" class="col-form-label">Job Name:</label>
                              <div id="inputfield">
                                  <input type="text" class="form-control" id="jobName" formControlName="jobName" placeholder="Enter Job Name">

                                  <div *ngIf="isInvalid('jobName')" class="text-danger">
                                    {{ getErrorMessage('jobName') }}
                                  </div>

                              </div>
            </div>


            <div class="form-outline mb-3">
              <label for="jobSalary" class="col-form-label">Salary</label>
              <div id="inputfield">
                <input type="number" class="form-control" id="jobSalary" formControlName="jobSalary" placeholder="Enter the Salary">
                <div *ngIf="isInvalid('jobSalary')" class="text-danger">
                  {{ getErrorMessage('jobSalary') }}
                </div>
              </div>
            </div>

            <div class="form-outline mb-3">
              <label for="jobType" class="col-form-label">Job Type</label>
              <div id="inputfield">
                <select id="jobType" formControlName="jobType" class="form-select" placeholder="Select the Type" required>
                  <option value="Software Developer">Software Developer</option>
                  <option value="Java Developer">Java Developer</option>
                  <option value="AI Engineer">AI Engineer</option>
                  <option value="ML Engineer">ML Engineer</option>
                  <option value="Data Scientist">Data Scientist</option>
                  <option value="Data Analyst">Data Analyst</option>
                </select>
                <div *ngIf="isInvalid('jobType')" class="text-danger">
                  {{ getErrorMessage('jobType') }}
                </div>
              </div>
            </div>

            <div class="form-outline mb-3">
              <label for="jobDescription" class="col-form-label">Job Description:</label>
              <div id="inputfield">
                <textarea rows="5" class="form-control" id="jobDescription" formControlName="jobDescription" placeholder="Job Description"></textarea>
                <div *ngIf="isInvalid('jobDescription')" class="text-danger">
                  {{ getErrorMessage('jobDescription') }}
                </div>
              </div>
            </div>

            <div class="form-outline mb-3">
              <label for="jobVacancy" class="col-form-label">Job Vacancy:</label>
              <div id="inputfield">
                <input type="number" class="form-control" id="jobVacancy" formControlName="jobVacancy" placeholder="Vacancy">
                <div *ngIf="isInvalid('jobVacancy')" class="text-danger">
                  {{ getErrorMessage('jobVacancy') }}
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn" style="background-color : #113f5f; color : white;">Post Job</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section> -->




<section class="background vh-100">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-md-8 offset-md-2"> <!-- Adjusted column size and added offset -->
        <div class="card">
          <div class="card-body">
            <h3 style="font-weight: bolder;">Post your Job here !!</h3>
            <form [formGroup]="jobRegisterForm" (ngSubmit)="onSubmit()" novalidate>
              <!-- Job Name -->
              <div class="form-outline mb-3">
                <label for="jobName" class="col-form-label" style="font-weight: 600;">Job Name:</label>
                <div id="inputfield">
                  <input type="text" class="form-control input-outline" id="jobName" formControlName="jobName" placeholder="Enter Job Name">
                  <div *ngIf="isInvalid('jobName')" class="text-danger">
                    {{ getErrorMessage('jobName') }}
                  </div>
                </div>
              </div>

              <!-- Job Salary  -->
              <div class="form-outline mb-3">
                <label for="jobSalary" class="col-form-label" style="font-weight: 600;">Salary</label>
                <div id="inputfield">
                  <input type="number" class="form-control input-outline" id="jobSalary" formControlName="jobSalary" placeholder="Enter the Salary">
                  <div *ngIf="isInvalid('jobSalary')" class="text-danger">
                    {{ getErrorMessage('jobSalary') }}
                  </div>
                </div>
              </div>

              <!-- Job Type -->
              <div class="form-outline mb-3">
                <label for="jobType" class="col-form-label" style="font-weight: 600;"> Job Type</label>
                <div id="inputfield">
                  <select id="jobType" formControlName="jobType" class="form-select input-outline" placeholder="Select the Type" required>
                    <option  value="" disabled selected>Select Job Type</option>
                    <option value="Software Developer">Software Developer</option>
                    <option value="Java Developer">Java Developer</option>
                    <option value="AI Engineer">AI Engineer</option>
                    <option value="ML Engineer">ML Engineer</option>
                    <option value="Data Scientist">Data Scientist</option>
                    <option value="Data Analyst">Data Analyst</option>
                  </select>
                  <div *ngIf="isInvalid('jobType')" class="text-danger">
                    {{ getErrorMessage('jobType') }}
                  </div>
                </div>
              </div>

              <!-- Job Description -->
              <div class="form-outline mb-3">
                <label for="jobDescription" class="col-form-label" style="font-weight: 600;">Job Description:</label>
                <div id="inputfield">
                  <textarea rows="5" class="form-control input-outline" id="jobDescription" formControlName="jobDescription" placeholder="Job Description"></textarea>
                  <div *ngIf="isInvalid('jobDescription')" class="text-danger">
                    {{ getErrorMessage('jobDescription') }}
                  </div>
                </div>
              </div>

              <!-- Vacancy -->
              <div class="form-outline mb-3">
                <label for="jobVacancy" class="col-form-label" style="font-weight: 600;">Job Vacancy:</label>
                <div id="inputfield">
                  <input type="number" class="form-control input-outline" id="jobVacancy" formControlName="jobVacancy" placeholder="Vacancy">
                  <div *ngIf="isInvalid('jobVacancy')" class="text-danger">
                    {{ getErrorMessage('jobVacancy') }}
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Post Job</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


