.card-deck {
  display: flex;
  justify-content: center;
}

.card {
  cursor: pointer;
  transition: transform 0.2s;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card.active {
  border: 2px solid #113f5f;
  background-color: #f0f0f0;
}

.mt-4 {
  margin-top: 2rem;
}
