<p>registration works!</p>
<body>
<div class="container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h1>Student Registration Page</h1>

    <label for="fullname">Full Name</label>
    <input type="text" id="fullname" formControlName="fullname" required>

    <label for="address">Address</label>
    <input type="text" id="address" formControlName="address" required>

    <label for="email">Email Id</label>
    <input type="email" id="email" formControlName="email" required>

    <label>Phone no</label>
    <input type="tel" id="phone" formControlName="phone" required>

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" required>

    <label for="birthdate">Date of Birth (dd-mm-yyyy)</label>
    <input type="text" id="birthdate" formControlName="birthdate" required>

    <label for="gender">Gender</label>
    <div formGroupName="gender">
      <input type="radio" id="male" formControlName="gender" value="male">Male
      <input type="radio" id="female" formControlName="gender" value="female">Female
    </div>

    <br>

    Nationality
    <select id="nationality" formControlName="nationality">
      <option *ngFor="let nationality of nationalities" [value]="nationality">{{nationality}}</option>
    </select><br>

    <input type="submit" value="Submit" [disabled]="!registrationForm.valid">
    <div>
      Already have an account? <a routerLink="/login">Login</a>
    </div>
  </form>
</div>
</body>
