<div style="position: static;">
  <nav class="navbar navbar-expand-sm navbar-light" style="background : #113f5f;">
    <div class="container-fluid">
      <!-- Centered brand -->
      <a class="navbar-brand mx-auto" routerLink="/home">Online Recruitment System</a>

      <!-- Toggler button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Centering the list -->
          

         
         

          <!-- Search Jobs -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <!-- <li class="nav-item" >
            <a class="nav-link" routerLink="/gradhome" routerLinkActive="active">Jobs for you</a>
          </li> -->


          <!-- Services -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
          </li>


          <!-- Blog  -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
          </li>


          <!-- About Us -->
          <!-- *ngIf="currentRoute !== '/login'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active">About Us</a>
          </li>

        </ul>

        <!-- Green dot for logged-in status -->
        <!-- <span *ngIf="isLoggedIn" class="green-dot"></span> -->
      </div>
      <a class="nav-link" *ngIf="roleIdString?.startsWith('GRAD')" routerLink="/home" >Logout</a>
    </div>
  </nav>
</div>


<section  class="stud-div" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 2rem; background-color: rgba(255, 255, 255, 0.5); backdrop-filter: blur(10px); width: 60%; margin: auto;">
          <div class="card-body p-4 p-lg-5 text-black">
            <h2 class="h1 fw-bold mb-0">Student Details</h2>
            <form [formGroup]="studRegisterForm" (ngSubmit)="onSubmit()" novalidate>


              <!-- City -->
              <div class="form-outline mb-2">
                <label for="city" class="col-sm-3 col-form-label fw-bolder ">City:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="text" class="form-control form-select-lg " id="city" formControlName="city" placeholder="Enter City">
                                    <div *ngIf="isInvalid('city')" class="text-danger">
                                        {{ getErrorMessage('city') }}
                                    </div>
                                </div>
              </div>


              <!-- State -->
              <div class="form-outline mb-2">
                <label for="state" class="col-sm-3 col-form-label fw-bolder">State:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="text" class="form-control form-select-lg " id="state" formControlName="state" placeholder="Enter State">
                                    <div *ngIf="isInvalid('state')" class="text-danger">
                                        {{ getErrorMessage('state') }}
                                    </div>
                                </div>
              </div>


              <!-- PinCode -->
              <div class="form-outline mb-2">
                <label for="pinCode" class="col-sm-3 col-form-label fw-bolder">Pin Code:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="text" class="form-control form-select-lg " id="pinCode" formControlName="pinCode" placeholder="Enter Pin code">
                                    <div *ngIf="isInvalid('pinCode')" class="text-danger">
                                        {{ getErrorMessage('pinCode') }}
                                    </div>
                                </div>
              </div>





              <!-- COLLEGE NAME -->
              <div class="form-outline mb-2">
                <label for="collegeName" class="col-sm-3 col-form-label fw-bolder">College Name:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="text" class="form-control form-select-lg " id="collegeName" formControlName="collegeName" placeholder="Enter College Name">
                                    <div *ngIf="isInvalid('collegeName')" class="text-danger">
                                        {{ getErrorMessage('collegeName') }}
                                    </div>
                                </div>
              </div>

              <!-- COLLEGE ADDRESS -->
              <div class="form-outline mb-2">
                <label for="collegeAddress" class="col-sm- col-form-label fw-bolder">College Address:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="text" class="form-control form-select-lg" id="collegeAddress" formControlName="collegeAddress" placeholder="Enter College Address">
                                    <div *ngIf="isInvalid('collegeAddress')" class="text-danger">
                                        {{ getErrorMessage('collegeAddress') }}
                                    </div>
                                </div>
              </div>

                  <!-- COLLEGE description -->
                  <div class="form-outline mb-2">
                    <label for="collegeDescription" class="col-sm- col-form-label fw-bolder">College Description:</label>
                                    <div class="col-sm-9" id="inputfield">
                                       <textarea rows="3" class="form-control form-select-lg" id="collegeDescription" formControlName="collegeDescription" placeholder="Enter College Description"></textarea>
                                        <div *ngIf="isInvalid('collegeDescription')" class="text-danger">
                                            {{ getErrorMessage('collegeDescription') }}
                                        </div>
                                    </div>
                  </div>


              <!--YOP + drop-down-->
              <div class="form-outline mb-2">
                <label for="yearOfPassing" class="col-sm- col-form-label fw-bolder">Year of Passing:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="number" class="form-control form-select-lg" id="yearOfPassing" formControlName="yearOfPassing" placeholder="Enter Year of Passing">
                                    <div *ngIf="isInvalid('yearOfPassing')" class="text-danger">
                                        {{ getErrorMessage('yearOfPassing') }}
                                    </div>
                                </div>
              </div>


              <!-- CGPA -->
              <div class="form-outline mb-2">
                <label for="cgpa" class="col-sm-3 col-form-label fw-bolder" >CGPA:</label>
                  <div class="col-sm-9" id="inputfield">
                  <input type="number" class="form-control form-select-lg" id="cgpa" formControlName="cgpa" placeholder="Enter CGPA">

                  <div *ngIf="isInvalid('cgpa')" class="text-danger">
                  {{ getErrorMessage('cgpa') }}
                  </div>

                </div>
              </div>

     
             
              <button type="submit" class="btn btn-primary mt-4" id="inputfield" [disabled]="!studRegisterForm.valid" >Register</button>
              

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
