<div style="position: static;">
  <nav class="navbar navbar-expand-sm navbar-light" style="background : #113f5f;">
    <div class="container-fluid">
      <!-- Centered brand -->
      <a class="navbar-brand mx-auto" routerLink="/home">RecruitHub</a>

      <!-- Toggler button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Centering the list -->
          <!-- Home -->
          <!-- *ngIf="currentRoute !== '/home'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>



          <!-- Search Jobs -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <!-- <li class="nav-item" >
            <a class="nav-link" routerLink="/gradhome" routerLinkActive="active">Jobs for you</a>
          </li> -->


          <!-- Services -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
          </li>


          <!-- Blog  -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
          </li>


          <!-- About Us -->
          <!-- *ngIf="currentRoute !== '/login'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active">About Us</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" routerLink="/login"  routerLinkActive="active">Login</a>
          </li>

          <li>
            <a class="nav-link"  routerLink="/register"  routerLinkActive="active">Register</a>
          </li>
        </ul>

        <!-- Green dot for logged-in status -->
        <!-- <span *ngIf="isLoggedIn" class="green-dot"></span> -->
      </div>

    </div>
  </nav>
</div>

<section class="stud-div"  style="background-image: url('https://e0.pxfuel.com/wallpapers/12/182/desktop-wallpaper-business-best-business-and-on-chat-corporate-meeting.jpg'); background-size: cover; background-repeat: no-repeat; width: 100%; backdrop-filter : blur(10px); ">
    <div class="container login-container py-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9">
            <div class="card" style="border-radius: 1rem; background-color: rgba(255, 255, 255, 0.5); backdrop-filter: blur(10px); width: 80%; margin: auto;">
                <div class="card-body p-4 p-lg-5 text-black">
              <h3 class="card-title text-center mb-4" >Reset Password</h3>
              <form [formGroup]="forgotpasswordform" (ngSubmit)="onSubmit()" novalidate>


                <div class="card-body">
                  <div class="form-group row mb-2">
                    <label for="email" class="form-label">Email Id</label>
                    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
                    <div *ngIf="isInvalid('email')" class="text-danger">
                      {{ getErrorMessage('email') }}
                    </div>
                  </div>
                  <div class="form-group row mb-2">
                    <label for="currentPassword" class="form-label">Current Password</label>
                    <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control" placeholder="Enter your current password">
                    <div *ngIf="isInvalid('currentPassword')" class="text-danger">
                      {{ getErrorMessage('currentPassword') }}
                    </div>
                  </div>
                  <div class="form-group row mb-2">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="Enter your new password">
                    <div *ngIf="isInvalid('newPassword')" class="text-danger">
                      {{ getErrorMessage('newPassword') }}
                    </div>
                  </div>
                  <div class="form-group row mb-2">
                    <label for="confirmPassword" class="form-label">Confirm New Password</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm your new password">
                    <div *ngIf="isInvalid('confirmPassword')" class="text-danger">
                      {{ getErrorMessage('confirmPassword') }}
                    </div>
                  </div>



                <div class="pt-1 mb-4 text-center">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" id="inputfield" type="submit" [disabled]="forgotpasswordform.invalid">Change Password</button>
                </div>
                <div class="text-center">
                  <a routerLink="/login">Remember Password?</a>
                </div>
                </div>

              </form>
              <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
