.card {
    border-radius: 0.75rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  .card-title {
    color: #343a40;
  }
  
  .card-text {
    color: #495057;
    margin: 0px;
    padding: 0px;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    margin-left: 90%;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  h2 {
    color: #343a40;
  }
  
  
  