<section style="background-image: url('https://cdn.vectorstock.com/i/500p/73/98/dark-blue-gradient-abstract-background-vector-27317398.jpg');
background-size: 1920px 1200px; background-repeat: no-repeat;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 2rem; background-color: rgba(255, 255, 255, 0.5); backdrop-filter: blur(10px); width: 60%; margin: auto;">
          <div class="card-body p-4 p-lg-5 text-black">
            <h1 class="h1 fw-bold mb-0">Student Registration Page</h1>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="form-outline mb-2">
                <label for="fullName" class="col-sm-3 col-form-label">Full Name:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="text" class="form-control form-select-lg " id="fullName" formControlName="fullName" placeholder="Full Name">
                                    <div *ngIf="isInvalid('fullName')" class="text-danger">
                                        {{ getErrorMessage('fullName') }}
                                    </div>
                                </div>
              </div>
              <div class="form-outline mb-2">
                <label for="address" class="col-sm-3 col-form-label">Address:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="textarea" class="form-control form-select-lg" id="address" formControlName="address" placeholder="Address">
                                    <div *ngIf="isInvalid('address')" class="text-danger">
                                        {{ getErrorMessage('address') }}
                                    </div>
                                </div>
              </div>
              <div class="form-outline mb-2">
                <label for="email" class="col-sm-3 col-form-label">Email:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="email" class="form-control form-select-lg" id="email" formControlName="email" placeholder="Email">
                                    <div *ngIf="isInvalid('email')" class="text-danger">
                                        {{ getErrorMessage('email') }}
                                    </div>
                                </div>
              </div>

              <div class="form-outline mb-2">
                <label for="phone" class="col-sm-3 col-form-label">Phone:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="text" class="form-control form-select-lg" id="phone" formControlName="phone" placeholder="Phone Number">
                                    <div *ngIf="isInvalid('phone')" class="text-danger">
                                        {{ getErrorMessage('phone') }}
                                    </div>
                                </div>
              </div>
              <div class="form-outline mb-2">
                <label for="password" class="col-sm-3 col-form-label" >Password:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="password" class="form-control form-select-lg" id="password" formControlName="password" placeholder="password">
                                    <div *ngIf="isInvalid('password')" class="text-danger">
                                        {{ getErrorMessage('password') }}
                                    </div>

                                </div>
              </div>
              <div class="form-outline mb-2">
                <label for="dOB" class="col-sm-3 col-form-label" >Date Of Birth:</label>
                                <div class="col-sm-9" id="inputfield">
                                    <input type="date" class="form-control form-select-lg" id="dOB" formControlName="dOB" placeholder="Date Of Birth">
                                    <div *ngIf="isInvalid('dOB')" class="text-danger">
                                        {{ getErrorMessage('dOB') }}
                                    </div>
                                </div>
              </div>
              <div class="form-outline mb-2">
                <label for="nationality" class="form-label" id="inputfield">Nationality</label>
                <select id="nationality" formControlName="nationality" class="form-select form-select-lg" aria-placeholder="Select Nationality" required>
                  <option value=""  disabled selected>Select Nationality</option>
                  <option *ngFor="let nationality of nationalities" [value]="nationality">{{nationality}}</option>
                </select>
                <div *ngIf="isInvalid('nationality')" class="text-danger">
                  {{ getErrorMessage('nationality') }}
              </div>
              </div>
              <div class="form-outline mb-2">
                <label for="gender" class="form-label" id="inputfield">Gender</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="male" formControlName="gender" value="male">
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="female" formControlName="gender" value="female">
                  <label class="form-check-label" for="female">Female</label>
                </div>
                <div *ngIf="registrationForm.get('gender')?.invalid && (registrationForm.get('gender')?.dirty || registrationForm.get('gender')?.touched)" class="text-danger">
                  <div *ngIf="registrationForm.get('gender')?.errors?.['required']">
                    Gender is required.
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" id="inputfield" [disabled]="!registrationForm.valid">Register</button>
              <p class="text-center mt-3">
                Already a Member? <a routerLink="/login" style="color: #393f81;">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
