#inputfield{
  width: 100%;
}

.reg-div
{
  /* background-image: url('./regImage/reg.png');
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative; */
  background-color: rgb(90, 174, 180);
}

/* .form-div{
background-color: bisque;
} */

.regDiv{
background-color: rgb(146, 171, 198);
}
