<div style="position: static;">
  <nav class="navbar navbar-expand-sm navbar-light" style="background : #113f5f;">
    <div class="container-fluid">
      <!-- Centered brand -->
      <a class="navbar-brand mx-auto" routerLink="/home">Online Recruitment System</a>

      <!-- Toggler button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Centering the list -->
          <!-- Home -->
          <!-- *ngIf="currentRoute !== '/home'" -->
          <li class="nav-item" >
            <a class="nav-link" *ngIf="roleIdString?.startsWith('GRAD')" routerLink="/gradhome/{{roleIdString}}" routerLinkActive="active">Home</a>

          </li>





          <!-- Services -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
          </li>


          <!-- Blog  -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
          </li>


          <!-- About Us -->
          <!-- *ngIf="currentRoute !== '/login'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active">About Us</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link"  *ngIf="!roleIdString?.startsWith('GRAD')"  routerLinkActive="active">Login</a>
          </li>

          <li>
            <a class="nav-link" *ngIf="!(roleIdString?.startsWith('GRAD'))" routerLink="/register"  routerLinkActive="active">Register</a>
          </li>
        </ul>

        <!-- Green dot for logged-in status -->
        <!-- <span *ngIf="isLoggedIn" class="green-dot"></span> -->
      </div>
      <a class="nav-link" *ngIf="(roleIdString?.startsWith('GRAD'))"  routerLink="/home" >Logout</a>
    </div>
  </nav>
</div>



<section class="background">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center mt-3 fw-bold" style="color: #113f5f;">Apply for the Job</h3>
            <form [formGroup]="jobSeekerForm" (ngSubmit)="onSubmit()" novalidate>
              <!-- Full Name -->
              <div class="form-outline mb-2 row">
                <label for="fullName" class="col-sm-3 col-form-label">Name:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-select-lg" id="name" formControlName="fullName" placeholder="Full Name">
                  <div *ngIf="isInvalid('fullName')" class="text-danger">
                    {{ getErrorMessage('fullName') }}
                  </div>
                </div>
              </div>

              <!-- Email -->
              <div class="form-outline mb-2 row">
                <label for="email" class="col-sm-3 col-form-label">Email:</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control form-select-lg" id="email" formControlName="email" placeholder="Email">
                  <div *ngIf="isInvalid('email')" class="text-danger">
                    {{ getErrorMessage('email') }}
                  </div>
                </div>
              </div>

              <!-- Phone Number -->
              <div class="form-outline mb-2 row">
                <label for="phone" class="col-sm-3 col-form-label">Phone No:</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control form-select-lg" id="phone" formControlName="phone" placeholder="Phone">
                  <div *ngIf="isInvalid('phone')" class="text-danger">
                    {{ getErrorMessage('phone') }}
                  </div>
                </div>
              </div>

              <!-- Year of Passing -->
              <div class="form-outline mb-2 row">
                <label for="yearOfPassing" class="col-sm-3 col-form-label">Year of Passing:</label>
                <div class="col-sm-9">
                  <select id="yearOfPassing" formControlName="yearOfPassing" class="form-select form-select-lg" required>
                    <option value="" disabled selected>Select Year</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                  </select>
                  <div *ngIf="isInvalid('yearOfPassing')" class="text-danger">
                    {{ getErrorMessage('yearOfPassing') }}
                  </div>
                </div>
              </div>

              <!-- CGPA -->
              <div class="form-outline mb-2 row">
                <label for="cgpa" class="col-sm-3 col-form-label">CGPA:</label>
                <div class="col-sm-9">
                  <select id="cgpa" formControlName="cgpa" class="form-select form-select-lg" required>
                    <option value="" disabled selected>Select CGPA</option>
                    <option value="1-2">1 - 2</option>
                    <option value="2-3">2 - 3</option>
                    <option value="3-4">3 - 4</option>
                    <option value="4-5">4 - 5</option>
                    <option value="5-6">5 - 6</option>
                    <option value="6-7">6 - 7</option>
                    <option value="7-8">7 - 8</option>
                    <option value="8-9">8 - 9</option>
                    <option value="9-10">9 - 10</option>
                  </select>
                  <div *ngIf="isInvalid('cgpa')" class="text-danger">
                    {{ getErrorMessage('cgpa') }}
                  </div>
                </div>
              </div>

              <!-- Language -->
              <div class="form-outline mb-2 row">
                <label for="language" class="col-sm-3 col-form-label">Language:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-select-lg" id="language" formControlName="language" placeholder="Language">
                  <div *ngIf="isInvalid('language')" class="text-danger">
                    {{ getErrorMessage('language') }}
                  </div>
                </div>
              </div>

              <!-- Key Skill -->
              <div class="form-outline mb-2 row">
                <label for="keyskill" class="col-sm-3 col-form-label">Key Skill:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-select-lg" id="keyskill" formControlName="keySkill" placeholder="Key Skill">
                  <div *ngIf="isInvalid('keySkill')" class="text-danger">
                    {{ getErrorMessage('keySkill') }}
                  </div>
                </div>
              </div>

              <!-- Areas of Interest -->
              <div class="form-outline mb-2 row">
                <label for="areaOfInterest" class="col-sm-3 col-form-label">Areas of Interest:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-select-lg" id="areaOfInterest" formControlName="areaOfInterest" placeholder="Area of Interest">
                  <div *ngIf="isInvalid('areaOfInterest')" class="text-danger">
                    {{ getErrorMessage('areaOfInterest') }}
                  </div>
                </div>
              </div>

              <!-- Project -->
              <div class="form-outline mb-2 row">
                <label for="project" class="col-sm-3 col-form-label">Project:</label>
                <div class="col-sm-9">
                  <textarea rows="5" cols="33" class="form-control form-select-lg" id="project" formControlName="project" placeholder="Project"></textarea>
                  <div *ngIf="isInvalid('project')" class="text-danger">
                    {{ getErrorMessage('project') }}
                  </div>
                </div>
              </div>

              <!-- Resume -->
              <div class="form-outline mb-2 row">
                <label for="resume" class="col-sm-3 col-form-label">Upload Your Resume:</label>
                <div class="col-sm-9">
                  <input type="file" class="form-control form-select-md" id="resume" (change)="onFileChange($event)" accept=".pdf">
                </div>
              </div>

              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




