.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

#drop{
    width: 100px;
}

#roleId{
    width: 230px;
}


.log-div{
  background-color: rgb(146, 171, 198);
}
