.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  margin: auto;
  margin-top: 50px;
  width: 120%;
  background-color: #113f5f;
  color: white;
}

.card-body {
  text-align: center;
  padding: 10px; /* Add padding to the card body */
}

.table {
  margin-top: 20px; /* Add some top margin to the table */
}


@media (max-width: 767.98px) {
  .table-responsive td:nth-child(4),
  .table-responsive th:nth-child(4),
  .table-responsive td:nth-child(5),
  .table-responsive th:nth-child(5) {
    display: none;
  }
}
/* graduates.component.css */

/* The Modal (background) */
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: auto;
}

/* Modal Dialog */
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 1000px;
  margin: 0;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 1000px;
  animation: fadeIn 0.3s;
  position: relative;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Modal Title */
.modal-title {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Close Button */
.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
}

/* Modal Body */
.modal-body {
  font-size: 1rem;
  line-height: 1.5;
}

/* Modal Footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
  overflow-y: auto;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.table-responsive {
  max-height: 300px; /* Set your desired max-height */
  overflow-y: auto;
  overflow-x:hidden;
  margin-top: 20px;
  max-width: 900px;
  margin-right: 200px;
  margin: auto;
  
}

.table th, .table td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
 
}

th {
  top: 0;
  position: sticky;
  background: #e5d2f1;
  color: black;
}
