<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 bg-dark text-white sidebar">
      <h4 class="mt-4">Appointment Menu</h4>
      <ul class="nav flex-column mt-4">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="post-jobs" routerLinkActive="active">Post Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="scheduled" routerLinkActive="active">Scheduled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="not-scheduled" routerLinkActive="active">Not Scheduled</a>
        </li>
      </ul>
    </div>

    <!-- Main content -->
    <div class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
