.navbar {
    background: linear-gradient(to right, #6a1b9a, #00b4d9);
    color: white;
  }
  
  .navbar-brand, .nav-link {
    color: white;
  }
  
  .navbar-brand:hover, .nav-link:hover {
    color: #ddd;
  }
  
  .nav-link.active {
    color: #ffffff; /* Bright white color */
    font-weight: bold; /* Bold text */
  }
  
  
  .nav-item.active a, .nav-item a:hover   {
  background-color: white;
  color: #113f5f;
  border-radius: 5px;
  margin : 5px;
  }

  .card-deck {
    display: flex;
    justify-content: center;
  }
  
  .card {
    cursor: pointer;
    transition: transform 0.2s;
    margin: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card.active {
    border: 2px solid #113f5f;
    background-color: #f0f0f0;
  }
  
  .mt-4 {
    margin-top: 2rem;
  }