

 <!-- <div class="container" style="background:white;">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12" style="margin-top: 50px; "> -->
          <!-- <h1 class="text-center mb-4">Available Jobs</h1> -->

          <!-- International Voice Process -->
          <!-- <div class="job-listing full-width" >
            <div class="job-item rounded-start"> -->
              <!-- Content -->

                <!-- <h2>International Voice Process (Technical)</h2> <br>
              <p><span style="font-weight:500;">Rating : </span> 3.8 (out of 40989 reviews)</p>
              <p> <span style="font-weight: 500;">Experience : </span> 0-3 years</p>
              <p> <span style="font-weight: 500;">Salary : </span> 50,000-2 Lacs P.A.</p>
              <p> <span style="font-weight: 500;">Location : </span> Kolkata</p>
              <p> <span style="font-weight: 500;">Time : </span> 15th May - 16th May </p>
              <p> <span style="font-weight: 500;">Venue : </span>9.30 AM - 5.30PM at Wipro, Kolkata, Sector V</p>
              <p> <span style="font-weight: 500;">Contact : </span>Ipshita Sarkar</p>
              <a routerLink="/job-seeker" class="btn btn-primary w-10" style="color: #f7f7fa;">Apply</a>


            </div>
          </div> -->

          <!-- Job Description -->
          <!-- <div class="job-listing full-width" >
            <div class="job-item rounded-end"> -->
                  <!--  Content -->
              <!-- <div class="jd-div">
                <h3>Job Description</h3>
              <h5>Role & Responsibilities</h5>
              <p>US process i.e. 24*7 rotational shift (including rotational night shift)</p>

              <h5>Preferred Candidate Profile</h5>
              <p>Freshers from any stream (BCA,MCA,B.tech and candidates with technical background are most preferable), excellent communication skills and technical knowledge. (No MBA/Civil/Mech/NO Pursuing candidates)</p>

              <h5>Perks and Benefits</h5>
              <ul>
                <li>PF, Gratuity, Lucrative night shift allowance</li>
                <li>Cab facility (one way)</li>
              </ul> -->
<!--
              <p>Role: Voice / Blended - Other</p>
              <p>Industry Type: IT Services & Consulting</p>
              <p>Department: Customer Success, Service & Operations</p>
              <p>Employment Type: Full Time, Permanent</p>
              <p>Role Category: Voice / Blended</p>


              <h5>Education</h5>
              <p>UG: Graduation Not Required</p>

              <h5>Key Skills</h5>
              <p>Skills highlighted with a star mark (*) are preferred key skills</p>
              </div>

            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="col-md-4">
        <div id="sidebar" style="color: rgb(1, 16, 16); margin-top: 50px; background-color: #f2f2f2;"> -->
          <!-- Sponsor card and Wise card content -->
          <!-- <h1 class="h2 fw-bold mb-0 px-0 py-0 mb-4">Sponsors</h1>
          <ul type="none"> -->
            <!-- Sponsor list items -->
            <!-- <li>HCL Technology</li>
            <li> Over 6,000+ Premium Jobs</li>
            <hr>
            <li>Infosys</li>
            <li>Premium Jobs</li>
            <hr>
            <li>Wipro</li>
            <li>Premium Jobs</li>
            <hr>
            <li>Accenture</li>
            <li>Premium Jobs</li>
            <hr>

            <li>TCS</li>
            <li>Premium Jobs</li>
            <hr>

            <li>CTS</li>
            <li>Premium Jobs</li>
            <hr>
          </ul> -->

          <!-- <h1 class="h2 fw-bold mb-0 px-0 py-0 mb-4">Wise Words</h1> -->
          <!-- Wise words content -->
          <!-- "Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it."
        <br>
        <p align="right">-Steve Jobs</p>
        </div>
      </div>
    </div>
  </div> -->






<section class="job-div">
  <div class="container-fluid py-2">
    <div class="row">
      <div class="col-md-8">
        <div id="formcard">

          <div class="job-listing full-width" >
            <div class="job-item rounded-start">

          <h2>International Voice Process (Technical)</h2> <br>
          <p><span style="font-weight:500;">Rating : </span> 3.8 (out of 40989 reviews)</p>
          <p> <span style="font-weight: 500;">Experience : </span> 0-3 years</p>
          <p> <span style="font-weight: 500;">Salary : </span> 3.5 - 4.0 L.P.A</p>
          <p> <span style="font-weight: 500;">Location : </span> Kolkata</p>
          <p> <span style="font-weight: 500;">Time : </span> 15th May - 16th May </p>
          <p> <span style="font-weight: 500;">Venue : </span>9.30 AM - 5.30PM at Wipro, Kolkata, Sector V</p>
          <p> <span style="font-weight: 500;">Contact : </span>Ipshita Sarkar</p> <br>
          <a routerLink="/job-seeker" class="btn btn-primary w-10" style="color: #f7f7fa;">Apply</a>


        </div>
      </div>

      <div class="job-listing full-width" >
        <div class="job-item rounded-start">
          <h3>Job Description</h3>
          <h5>Role & Responsibilities</h5>
          <p>US process i.e. 24*7 rotational shift (including rotational night shift)</p>

          <h5>Preferred Candidate Profile</h5>
          <p>Freshers from any stream (BCA,MCA,B.tech and candidates with technical background are most preferable), excellent communication skills and technical knowledge. (No MBA/Civil/Mech/NO Pursuing candidates)</p>

          <h5>Perks and Benefits</h5>
          <ul>
            <li>PF, Gratuity, Lucrative night shift allowance</li>
            <li>Cab facility (one way)</li>
          </ul>
          <p><span style="font-weight:500;">Role : </span>Voice / Blended - Other</p>
          <p> <span style="font-weight: 500;">Industry Type : </span> IT Services & Consulting</p>
          <p> <span style="font-weight: 500;">Department :  </span> Customer Success, Service & Operations</p>
          <p> <span style="font-weight: 500;">Employment Type : </span> Full Time, Permanent</p>
          <p> <span style="font-weight: 500;">Role Category : </span> Voice / Blended</p>


              <h5>Education</h5>
              <p>UG: Graduation Not Required</p>

              <h5>Key Skills</h5>
              <p>Skills highlighted with a star mark (*) are preferred key skills</p>


    </div>
  </div>




      </div>
  </div>







  <div class="col-md-4">
      <div id="sidebar" style="color:rgb(18, 26, 99);">
          <!-- Sponsor card and Wise card content -->
          <h1 class="h2 fw-bold mb-0 px-0 py-0 mb-4">Sponsors</h1>
          <ul type="none">
              <li>HCL Technology</li>
              <li> Over 6,000+ Premium Jobs</li>
              <hr>
              <li>Infosys</li>
              <li>Premium Jobs</li>
              <hr>
              <li>Wipro</li>
              <li>Premium Jobs</li>
              <hr>
              <li>Accenture</li>
              <li>Premium Jobs</li>
              <hr>
              <li>Atos</li>
              <li>Premium Jobs</li>
              <hr>
              <li>TCS</li>
              <li>Premium Jobs</li>
              <hr>
          </ul>

          <h1 class="h2 fw-bold mb-0 px-0 py-0 mb-4">Wise Words</h1>
          "Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it."
          <br>
          <p align="right">-Steve Jobs</p>
      </div>
  </div>
</div>
</div>
</section>



