<div style="position: static;">
  <nav class="navbar navbar-expand-sm navbar-light" style="background : #113f5f;">
    <div class="container-fluid">
      <!-- Centered brand -->
      <img src="assets/ors-logo.png" alt="logo" style="height: 55px; width:190px; margin-right: 10px;">

      <!-- Toggler button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Centering the list -->
          <!-- Home -->
          <!-- *ngIf="currentRoute !== '/home'" -->
          <li class="nav-item" >
            <a class="nav-link"  (click)="home()" routerLinkActive="active">Home</a>
          </li>


          <li class="nav-item" >
            <a class="nav-link"  *ngIf="roleIdString?.startsWith('GRAD')" routerLink="/gradmessage/{{roleIdString}}" routerLinkActive="active">Contact Us/Notification</a>
          </li>


          <!-- Blog  -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/blogs/{{roleIdString}}" routerLinkActive="active">Blogs</a>
          </li>


          <!-- About Us -->
          <!-- *ngIf="currentRoute !== '/login'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/about-us/{{roleIdString}}" routerLinkActive="active">About Us</a>
          </li>
          
          <li class="nav-item" >
            <a class="nav-link" *ngIf="roleIdString?.startsWith('GRAD')" (click)="editGraduate(roleIdString)" routerLinkActive="active">Edit Profile</a>
          </li>
          
         


          <li class="nav-item" >
            <a class="nav-link"  *ngIf="!(roleIdString?.startsWith('GRAD') || roleIdString?.startsWith('EMP'))"  routerLinkActive="active">Login</a>
          </li>

          <li>
            <a class="nav-link" *ngIf="!(roleIdString?.startsWith('GRAD') || roleIdString?.startsWith('EMP'))" routerLink="/register"  routerLinkActive="active">Register</a>
          </li>
        </ul>

        <!-- Green dot for logged-in status -->
        <!-- <span *ngIf="isLoggedIn" class="green-dot"></span> -->
      </div>
      <a class="nav-link" *ngIf="(roleIdString?.startsWith('GRAD') || roleIdString?.startsWith('EMP'))" (click)="logout()" >Logout</a>
    </div>
  </nav>
</div>


<section class="background-section" >

    <div class="container">
      <h1 class="my-4 text-center" style="color: #113f5f; font-weight:700;">Find your dream job now
        <p class="my-2 lead" style="font-size: 15px; color: #113f5f; font-weight : 500;">Your journey to a better job starts here.</p>
      </h1>

      <div class="row mb-3">
          <div class="col">
              <input type="text" class="form-control" placeholder="Enter skills/designations" [(ngModel)]="searchTerm">
          </div>

          <div class="col-auto">
              <button class="btn btn-primary" (click)="search()" >Search</button>
          </div>
      </div>

   

      <!-- Companies section -->
      <div class="mb-5">
          <h2 class="my-4 text-center" style="color: #113f5f;">Top companies hiring now</h2>
          <div class="row row-cols-5">
              <div class="col" *ngFor="let company of companies">
                <div class="card mb-3" (click)="openLink(company.link)">
                  <div class="card-body" [ngClass]="{'hover-effect': company.name === 'Infosys'}">
                    <div class="d-flex justify-content-center">
                        <img [src]="company.logo" [alt]="company.logo" class="me-2" style="width: auto; height: 100%;">
                    </div>
                          <h5 class="card-title text-center">{{ company.name }}</h5>
                          <p class="card-text text-center">{{ company.description }}</p>

                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </section>

  <div class="modal w-100" *ngIf="selectedGraduateforedit!=null ">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Graduate Details</h5>
        </div>
        <div class="modal-body" >
          <form class="row" [formGroup]="graduateForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="roleId" class="col-form-label">Grad ID</label>
                <div>
                <input type="text" class="form-control" id="inputfield" value="{{selectedGraduateforedit}}" disabled>
              </div>
              </div>
              <div class="form-group col-md-6">
                <label for="name" class="col-form-label">Name</label>
                <input id="name" type="text" class="form-control" formControlName="name" id="inputfield" placeholder="Name">
                <div *ngIf="isInvalid('name')" class="text-danger">
                  {{ getErrorMessage('name') }}
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nationality" class="form-label" id="inputfield">Nationality:</label>
                  <select id="nationality" formControlName="nationality" class="form-select" aria-placeholder="Select Nationality" required>
                    <option value=""  disabled selected>Select Nationality</option>
                    <option *ngFor="let nationality of nationalities" [value]="nationality">{{nationality}}</option>
                  </select>
                  <div *ngIf="isInvalid('nationality')" class="text-danger">
                    {{ getErrorMessage('nationality') }}
                    </div>
              </div>
              <div class="form-group col-md-6">
                <label for="phone" class="col-form-label">Phone</label>
                <input id="phone" type="text" class="form-control" formControlName="phone" id="inputfield" placeholder="Phone">
                <div *ngIf="isInvalid('phone')" class="text-danger">
                  {{ getErrorMessage('phone') }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="address" class="col-form-label">Address</label>
                <input id="address" type="textarea" class="form-control " formControlName="address" placeholder="Address">
                <div *ngIf="isInvalid('address')" class="text-danger">
                  {{ getErrorMessage('address') }}
                </div>
              </div>
              <div class="form-group col-md-6">
                
                <label for="city" class="col-form-label">City</label>
                <input id="city" type="text" class="form-control" formControlName="city" placeholder="City">
                <div *ngIf="isInvalid('city')" class="text-danger">
                  {{ getErrorMessage('city') }}
                </div>
              </div>
              
            </div>
            <div class="row">
              
              <div class="form-group col-md-6">
                <label for="state" class="col-form-label">State</label>
                <input id="state" type="text" class="form-control" formControlName="state" placeholder="State">
                <div *ngIf="isInvalid('state')" class="text-danger">
                  {{ getErrorMessage('state') }}
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="pinCode" class="col-form-label">Pin Code</label>
                <input id="pinCode" type="text" class="form-control" formControlName="pinCode" placeholder="PinCode">
                <div *ngIf="isInvalid('pinCode')" class="text-danger">
                  {{ getErrorMessage('pinCode') }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="cgpa" class="col-form-label">CGPA</label>
                <input id="cgpa" type="text" class="form-control" formControlName="cgpa" placeholder="Cgpa">
                <div *ngIf="isInvalid('cgpa')" class="text-danger">
                  {{ getErrorMessage('cgpa') }}
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="yearOfPassing" class="col-form-label">Year of Passing</label>
                <input id="yearOfPassing" type="text" class="form-control" formControlName="yearOfPassing" placeholder="Year Of Passing">
                <div *ngIf="isInvalid('yearOfPassing')" class="text-danger">
                  {{ getErrorMessage('yearOfPassing') }}
                </div>
              </div>
            </div>
            <div class="row">
              
              <div class="form-group col-md-6">
                <label for="collegeName" class="col-form-label">College Name</label>
                <input id="collegeName" type="text" class="form-control" formControlName="collegeName" placeholder="CollegeName">
                <div *ngIf="isInvalid('collegeName')" class="text-danger">
                  {{ getErrorMessage('collegeName') }}
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="collegeAddress" class="col-form-label">College Address</label>
                <input id="collegeAddress" type="text" class="form-control" formControlName="collegeAddress" placeholder="College Address">
                <div *ngIf="isInvalid('collegeAddress')" class="text-danger">
                  {{ getErrorMessage('collegeAddress') }}
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="collegeDescription" class="col-form-label">College Description</label>
                <textarea id="collegeDescription" row="3" class="form-control" formControlName="collegeDescription" placeholder="College Description" ></textarea>
                <div *ngIf="isInvalid('collegeDescription')" class="text-danger">
                  {{ getErrorMessage('collegeDescription') }}
                </div>
              </div>
              <div class="form-group col-md-6">
                
              </div>
            </div>
            <div class="row">
            <button type="submit" class="btn btn-primary mt-2 mb-2 col-6">Update</button>
            <button class="btn btn-danger mt-2 mb-2 col-6"(click)="closeModalforEdit()">Close</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div> 