.background-section {
  background-color: rgb(215, 226, 238);
  padding-top: 5px; /* Adjust as needed */
}



 .card {
  text-align: center;
}

.card img {
  max-width: 80px; /* Adjust the maximum width as needed */
  height: auto;
}
