<div style="position: static;">
  <nav class="navbar navbar-expand-sm navbar-light" style="background : #113f5f;">
    <!--  -->
    <div class="container-fluid">
      <!-- Centered brand -->
      <img src="assets/ors-logo.png" alt="logo" style="height: 55px; width:190px; margin-right: 10px;">


      <!-- Toggler button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto"> <!-- Centering the list -->






          <!-- Search Jobs -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->



          <!-- Services -->


          <!-- Blog  -->
          <!-- *ngIf="currentRoute !== '/job-search'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
          </li>


          <!-- About Us -->
          <!-- *ngIf="currentRoute !== '/login'" -->
          <li class="nav-item" >
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
          </li>




        </ul>

        <!-- Green dot for logged-in status -->
        <!-- <span *ngIf="isLoggedIn" class="green-dot"></span> -->
      </div>
      <a class="nav-link"  (click)="logout()" >Logout</a>
    </div>
  </nav>
</div>


<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 bg-custom-color sidebar">
      <div class="sidebar-sticky">

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center text-1">
          <span >MENU</span>
        </h6>


        <ul class="nav flex-column">



          <li class="nav-item" [class.active]="isActive('/admin-dash/graduates')">
            <a class="nav-link" routerLink="/admin-dash/{{person}}/graduates">Graduates</a>
          </li>
          <li class="nav-item" [class.active]="isActive('/admin-dash/employers')">
            <a class="nav-link" routerLink="/admin-dash/{{person}}/employers">Employers</a>
          </li>
          <!-- <li class="nav-item" [class.active]="isActive('/admin-dash/jobs')">
            <a class="nav-link" routerLink="/admin-dash/jobs">Jobs</a>
          </li> -->
          <li class="nav-item" [class.active]="isActive('/admin-dash/inbox')">
            <a class="nav-link" routerLink="/admin-dash/{{person}}/admininbox">Inbox</a>
          </li>

        </ul>
      </div>
    </div>

    <!-- Main content -->

    <div class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
     
        
          <img [src]="image" alt="profile pic" class="profilephoto ">
          Welcome {{name}}
        

      <!-- Main content for each section will be displayed here -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


