.navbar {
    background: linear-gradient(to right, #6a1b9a, #00b4d9);
    color: white;
}

.navbar-brand, .nav-link {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: #ddd;
}

.nav-link.active {
    color: #ffffff; /* Bright white color */
    font-weight: bold; /* Bold text */
}
